.button-container, #grid-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#grid-container {
    justify-self: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: palegoldenrod;
    padding: 10px;
    border-radius: 10px;
}